<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broker Details</title>
</head>
<body>
<a href="/"> <input type="button" value="Index"></a>
<a href="/all_clients/"> <input type="button" value="Clients List"></a>
<a href="/all_banks/"> <input type="button" value="Banks List"></a>
<a href="/all_brokers/"> <input type="button" value="Brokers List"></a>
<a href="/all_loans/"> <input type="button" value="Loans List"></a>

<h1>Broker details: {{ broker.name }}</h1>

<table style="width:100%">

  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Actions</th>

  </tr>
  <tr>

    <td>{{ broker.name }}</td>
    <td>{{ broker.phone_number }}</td>
    <td>{{ broker.email }}</td>
    <td><a href="/broker_update/{{ broker.id }}"> <input type="button" value="Update"></a></td>
  </tr>
</table><br><br>

     <table style="width:100%">

  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Marital Status</th>
    <th>Address</th>
    <th>Occupation</th>
    <th>Monthly Income</th>
    <th>Broker</th>
    <th>Current status</th>
    <th>Date created</th>
    <th>Details</th>
  </tr>
       {% for client in clients %}
  <tr>

    <td>{{ client.first_name }}</td>
    <td>{{ client.last_name }}</td>
    <td>{{ client.phone_number }}</td>
    <td>{{ client.email }}</td>
    <td>{{ client.get_marital_status_display }}</td>
    <td>{{ client.address }}</td>
      <td>
            {% for occupation in client.clientoccupation_set.all %}
            <li>{{ occupation.occupation }}</li>
            {% endfor %}
      </td>
      <td>
            {% for income in client.clientoccupation_set.all %}
            <li>{{ income.monthly_income }}</li>
            {% endfor %}
      </td>
    <td>{{ client.broker }}</td>
    <td>{{ client.get_current_status_display }}</td>
    <td>{{ client.date_created }}</td>
    <td><a href="/client_details/{{ client.id }}"> <input type="button" value="Click"></a></td>
  </tr>
     {% empty %}
    <li>No clients yet.</li>
{% endfor %}
</table><br><br>

<table style="width:100%">

  <tr>
    <th>Client</th>
    <th>Bank</th>
    <th>Loan Amount Gross [zł]</th>
    <th>Loan Amount Net [zł]</th>
    <th>Bank Charge [%]</th>
    <th>Interest rate [%]</th>
    <th>Bank insurance [zł]</th>
    <th>Repayment term [months]</th>
    <th>Instalment amount [zł]</th>
    <th>Date</th>


  </tr>
       {% for loan in loans %}
  <tr>

    <td><a href="/client_details/{{ loan.client.id }}">{{ loan.client }}</a> </td>
    <td>{{ loan.bank }}</td>
    <td>{{ loan.loan_amount_gross }}</td>
    <td>{{ loan.loan_amount_net }}</td>
    <td>{{ loan.bank_charge }}</td>
    <td>{{ loan.interest_rate }}</td>
    <td>{{ loan.bank_insurance }}</td>
    <td>{{ loan.repayment_term }}</td>
    <td>{{ loan.instalment_amount }}</td>
    <td>{{ loan.date_created }}</td>

  </tr>
     {% empty %}
    <li>No loans yet.</li>
{% endfor %}
</table><br><br>


</body>
</html>