<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Details</title>
</head>
<body>

<h1>Client details: {{ client.first_name }} {{ client.last_name }}</h1>
<h2></h2>

 <table style="width:100%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Marital Status</th>
    <th>Address</th>
    <th>Occupation</th>
    <th>Monthly Income</th>
    <th>Broker</th>
    <th>Current status</th>
    <th>Date created</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>{{ client.first_name }}</td>
    <td>{{ client.last_name }}</td>
    <td>{{ client.phone_number }}</td>
    <td>{{ client.email }}</td>
    <td>{{ client.get_marital_status_display }}</td>
    <td>{{ client.address }}</td>
      <td>
            {% for occupation in client_occupation %}
            <li>{{ occupation.occupation }}</li>
            {% endfor %}
      </td>
      <td>
            {% for income in client_occupation %}
            <li>{{ income.monthly_income }}</li>
            {% endfor %}
      </td>
    <td>{{ client.broker }}</td>
    <td>{{ client.get_current_status_display }}</td>
    <td>{{ client.date_created }}</td>
    <td>
        <a href="/client_update/{{ client.id }}"> <input type="button" value="Update client"></a><br>
        <a href="/income/{{ client.id }}"> <input type="button" value="Change income"></a><br>
    </td>
  </tr>
</table><br><br>


<h3>News</h3>

<form method="post">
    {% csrf_token %}
    <textarea name="comment" type="text"></textarea>
    <p><input type="submit" value="Add new comment" name="submit"></p>
</form>
 <table style="width:100%">
 <tr>
     <th>Comment</th>
     <th>Date</th>
 </tr>
{% for info in news %}
    <tr>
        <td>{{ info.text }}</td>
        <td>{{ info.date_created }}</td>
    </tr>
{% endfor %}
 </table>
</body>
</html>