{% extends "base_form.html" %}
    {% block title %}
    <title>Income</title>
    {% endblock %}
{% block content %}

<h2>Change income</h2>
    <hr>
<h3>Client: {{ client.first_name }} {{ client.last_name }}</h3>
    <hr>
<p>Occupation:</p>
<ul>
    {% for occupation in client_occupation %}
            <li>{{ occupation.occupation }} - {{ occupation.monthly_income }} zł </li>
            {% endfor %}
</ul>
<form method="post" class="form-group" style="display: inline-block; text-align: justify; width: 200px">
    {% csrf_token %}
<hr>
<h4>Remove Occupation</h4>
<hr>
<select name="remove_occupation">
    {% for occupation in client_occupation %}
        <option value="{{ occupation.occupation }}">{{ occupation.occupation }} - {{ occupation.monthly_income }} zł</option>
    {% endfor %}
    </select><br>
<input type="submit" value="Remove" name="remove">
</form>
    <hr>
<h4>Add new income</h4>
    <hr>
<form method="post" class="form-group" style="display: inline-block; text-align: justify; width: 200px">
    {% csrf_token %}
    Occupation:
    <select name="add_occupation">
        <option value="">-----</option>
        {% for key, item in occupation %}
        <option value="{{ key }}">{{ item }}</option>
        {% endfor %}
    </select><br>
    Monthly income: <input name="income" type="number"><br>
    <input type="submit" value="Add" name="add">
</form>
{% endblock %}