<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Income</title>
</head>
<body>
<h1>Change income</h1>
<h2>Client: {{ client.first_name }} {{ client.last_name }}</h2>
<p>Occupation:</p>
<ul>
    {% for occupation in client_occupation %}
            <li>{{ occupation.occupation }} - {{ occupation.monthly_income }} zł </li>
            {% endfor %}
</ul>
<form method="post">{% csrf_token %}
<h3>Remove Occupation</h3>
<select name="remove_occupation">
    {% for occupation in client_occupation %}
        <option value="{{ occupation.occupation }}">{{ occupation.occupation }} - {{ occupation.monthly_income }} zł</option>
    {% endfor %}
    </select><br>
<input type="submit" value="Remove" name="remove">
</form>
<h3>Add new income</h3>
<form method="post">{% csrf_token %}
    Occupation:
    <select name="add_occupation">
        <option value="">-----</option>
        {% for key, item in occupation %}
        <option value="{{ key }}">{{ item }}</option>
        {% endfor %}
    </select><br>
    Monthly income: <input name="income" type="number"><br>
    <input type="submit" value="Add" name="add">
</form>
</body>
</html>