<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Hello there. Choose your action.</h1>
    <ul>
        <li><a href="/add_client/">Add Client</a> </li>
        <li><a href="/add_broker/">Add Broker</a> </li>
        <li><a href="/add_bank/">Add Bank</a> </li>
        <li><a href="/add_loan/">Add Successful Loan</a> </li>
        <li><a href="/all_clients/">Show Clients List</a> </li>
        <li><a href="/all_brokers/">Show Broker List</a> </li>
        <li><a href="/all_banks/">Show Bank List</a> </li>
        <li><a href="/all_loans/">Show Successful Loan list</a> </li>
    </ul>
</body>
</html>