<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Hello there. Choose your action.</h1>
    <ul>
        <li><a href="/add_client/">Add Client</a> </li>
        <li><a href="#">Add Broker</a> </li>
        <li><a href="#">Add Bank</a> </li>
        <li><a href="#">Add Successful Loan</a> </li>
        <li><a href="#">Show Clients List</a> </li>
        <li><a href="#">Show Broker List</a> </li>
        <li><a href="#">Show Bank List</a> </li>
        <li><a href="#">Show Successful Loan list</a> </li>
    </ul>
</body>
</html>