<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banks List</title>
</head>
<body>
<a href="/"> <input type="button" value="Index"></a>
<a href="/all_clients/"> <input type="button" value="Clients List"></a>
<a href="/all_banks/"> <input type="button" value="Banks List"></a>
<a href="/all_brokers/"> <input type="button" value="Brokers List"></a>
<a href="/all_loans/"> <input type="button" value="Loans List"></a>
<h1>Brokers</h1>
<table style="width:100%">

  <tr>
    <th>Name</th>
    <th>Address</th>

  </tr>
       {% for bank in object_list %}
  <tr>

    <td>{{ bank.name }}</td>
    <td>{{ bank.address }}</td>
  </tr>
     {% empty %}
    <li>No banks yet.</li>
{% endfor %}
</table><br><br>
</body>
</html>