<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broker List</title>
</head>
<body>
<h1>Brokers</h1>
<table style="width:100%">

  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Details</th>

  </tr>
       {% for broker in object_list %}
  <tr>

    <td>{{ broker.name }}</td>
    <td>{{ broker.phone_number }}</td>
    <td>{{ cbroker.email }}</td>
    <td><a href="/broker_details/{{ broker.id }}"> <input type="button" value="Click"></a></td>
  </tr>
     {% empty %}
    <li>No brokers yet.</li>
{% endfor %}
</table><br><br>
</body>
</html>