<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loans list</title>
</head>
<body>
<a href="/"> <input type="button" value="Index"></a>
<a href="/all_clients/"> <input type="button" value="Clients List"></a>
<a href="/all_banks/"> <input type="button" value="Banks List"></a>
<a href="/all_brokers/"> <input type="button" value="Brokers List"></a>
<a href="/all_loans/"> <input type="button" value="Loans List"></a>
<h1>Successful Loans</h1>

<form action="" method="GET">
<select name="order">
    <option name="">-----</option>
    <option name="client">Client</option>
    <option name="bank">Bank</option>
    <option name="newest">Newest</option>
    <option name="oldest">Oldest</option>
</select>
    <input type="submit" name="sort" value="Sort">
</form><br>

<table style="width:100%">

  <tr>
    <th>Client</th>
    <th>Broker</th>
    <th>Bank</th>
    <th>Loan Amount Gross [zł]</th>
    <th>Loan Amount Net [zł]</th>
    <th>Bank Charge [%]</th>
    <th>Interest rate [%]</th>
    <th>Bank insurance [zł]</th>
    <th>Repayment term [months]</th>
    <th>Instalment amount [zł]</th>
    <th>Date</th>
    <th>Actions</th>


  </tr>
       {% for loan in object_list %}
  <tr>

    <td><a href="/client_details/{{ loan.client.id }}">{{ loan.client }}</a> </td>
    <td><a href="/broker_details/{{ loan.broker.id }}">{{ loan.broker }}</a></td>
    <td>{{ loan.bank }}</td>
    <td>{{ loan.loan_amount_gross }}</td>
    <td>{{ loan.loan_amount_net }}</td>
    <td>{{ loan.bank_charge }}</td>
    <td>{{ loan.interest_rate }}</td>
    <td>{{ loan.bank_insurance }}</td>
    <td>{{ loan.repayment_term }}</td>
    <td>{{ loan.instalment_amount }}</td>
    <td>{{ loan.date_created }}</td>
    <td>
        <a href="loan_update/{{ loan.id }}"> <input type="button" value="Update"></a>
    </td>

  </tr>
     {% empty %}
    <li>No loans yet.</li>
{% endfor %}
</table><br><br>
</body>
</html>