{% extends "base_list.html" %}
    {% block title %}
    <title>Loan list</title>
    {% endblock %}
{% block content %}
    <hr>
<h2 style="text-align: center">Loan List</h2>
    <hr>

<div style="display: block; justify-content: space-between">
<form action="" method="GET">
<select name="order">
    <option name="">-----</option>
    <option name="client">Client</option>
    <option name="bank">Bank</option>
    <option name="newest">Newest</option>
    <option name="oldest">Oldest</option>
</select>
    <input type="submit" name="sort" value="Sort">
</form><br>
</div>
<table class="table" style="background: rgba(230,233,235,0.62)">

  <tr style="background: rgba(220,223,225,0.62)">
    <th>Client</th>
    <th>Broker</th>
    <th>Bank</th>
    <th>Loan Amount Gross [zł]</th>
    <th>Loan Amount Net [zł]</th>
    <th>Bank Charge [%]</th>
    <th>Interest rate [%]</th>
    <th>Bank insurance [zł]</th>
    <th>Repayment term [months]</th>
    <th>Instalment amount [zł]</th>
    <th>Date</th>
    <th>Actions</th>


  </tr>
       {% for loan in object_list %}
  <tr>

    <td><a href="/client_details/{{ loan.client.id }}">{{ loan.client }}</a> </td>
    <td><a href="/broker_details/{{ loan.broker.id }}">{{ loan.broker }}</a></td>
    <td>{{ loan.bank }}</td>
    <td>{{ loan.loan_amount_gross }}</td>
    <td>{{ loan.loan_amount_net }}</td>
    <td>{{ loan.bank_charge }}</td>
    <td>{{ loan.interest_rate }}</td>
    <td>{{ loan.bank_insurance }}</td>
    <td>{{ loan.repayment_term }}</td>
    <td>{{ loan.instalment_amount }}</td>
    <td>{{ loan.date_created }}</td>
    <td>
        <a href="/loan_update/{{ loan.id }}"> <input type="button" value="Update"></a>
    </td>

  </tr>
     {% empty %}
    <li>No loans yet.</li>
{% endfor %}
</table>

    {% if is_paginated %}
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}